torchvision
torch==2.0.1
pyquaternion
pyyaml
rospkg
pexpect
mujoco==2.3.7
dm_control==1.0.14
opencv-python
matplotlib
einops
packaging
h5py
ipython
segmentation_models_pytorch
huggingface_hub==0.24.7
wandb
torchaudio==2.0.2
panns_inference
torchvggish
torch_vggish_yamnet
tensorflow_hub
sounddevice
wavio
pyaudio
